@model TicaretSitesi_yazlab.Models.Laptop

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Laptop</h4>
<hr />
<div class="row">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelName" class="control-label"></label>
                    <input asp-for="ModelName" class="form-control" />
                    <span asp-validation-for="ModelName" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <label asp-for="OperatingSystem" class="control-label"></label>
                    <input asp-for="OperatingSystem" class="form-control" />
                    <span asp-validation-for="OperatingSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OperatingGeneration" class="control-label"></label>
                    <input asp-for="OperatingGeneration" class="form-control" />
                    <span asp-validation-for="OperatingGeneration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OperatingType" class="control-label"></label>
                    <input asp-for="OperatingType" class="form-control" />
                    <span asp-validation-for="OperatingType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ram" class="control-label"></label>
                    <input asp-for="Ram" class="form-control" />
                    <span asp-validation-for="Ram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiskSize" class="control-label"></label>
                    <input asp-for="DiskSize" class="form-control" />
                    <span asp-validation-for="DiskSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScreenSize" class="control-label"></label>
                    <input asp-for="ScreenSize" class="form-control" />
                    <span asp-validation-for="ScreenSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weblink" class="control-label"></label>
                    <input asp-for="Weblink" class="form-control" />
                    <span asp-validation-for="Weblink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WebName" class="control-label"></label>
                    <input asp-for="WebName" class="form-control" />
                    <span asp-validation-for="WebName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Svg" class="control-label"></label>
                    <input asp-for="Svg" class="form-control" />
                    <span asp-validation-for="Svg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
